<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubtrobot.diagnosis.sal">

    <uses-permission android:name="com.ubtrobot.master.permission.MASTER" />

    <application>
        <service
            android:name="com.ubtrobot.diagnosis.ipc.master.DiagnosisSystemService"
            android:exported="true">
            <meta-data
                android:name="master.service"
                android:resource="@xml/service_diagnosis" />
        </service>
    </application>
</manifest>
