<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubtrobot.light.sal">

    <application>
        <service
            android:name="com.ubtrobot.light.ipc.master.LightSystemService"
            android:exported="true">
            <meta-data
                android:name="master.service"
                android:resource="@xml/service_light" />
        </service>
    </application>
</manifest>