<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubtrobot.speech.sal">

    <uses-permission android:name="com.ubtrobot.master.permission.MASTER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <service
            android:name="com.ubtrobot.speech.ipc.master.SpeechSystemService"
            android:exported="true">
            <meta-data
                android:name="master.service"
                android:resource="@xml/service_speech" />
        </service>
    </application>
</manifest>
