<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubtrobot.analytics.sal">

    <permission
        android:name="ubtrobot.permissions.AnalyticsProvider"
        android:protectionLevel="normal" />

    <application>
        <provider
            android:name="com.ubtrobot.analytics.ipc.provider.AnalyticsProvider"
            android:authorities="com.ubtrobot.analytics.ipc.provider.AnalyticsProvider"
            android:exported="true"
            android:permission="ubtrobot.permissions.AnalyticsProvider" />

    </application>
</manifest>