<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubtrobot.emotion.sal">

    <application>
        <service
            android:name="com.ubtrobot.emotion.ipc.master.EmotionSystemService"
            android:exported="true">
            <meta-data
                android:name="master.service"
                android:resource="@xml/service_emotion" />
        </service>
    </application>
</manifest>
